body{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    background: rgb(235, 226, 226);
    flex-direction: row;
    align-items: center;
    font-family: Roboto;


}
.sectcalendar{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar{
    width: 70%;
    margin: auto;
    margin-right: 50px;
    border-radius: 40px ;
    font-size: 3rem;
    font-weight: 800;

}

.day{
    width: 60%;
    border-radius: 40px 40px 0 0;
    border: solid rgba(89, 87, 87, 0.825);
    border-width: 6px 6px 0px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.date{
    width: 60%;
    background-color: whitesmoke;
    border: solid rgba(128, 128, 128, 0.825);
    border-width: 0px 6px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: grey;
    font-size: 3rem;
    font-weight: 900;

}

.pday{
    margin-bottom: 0;
}

.month{
    margin-top: 0;
}
.year{
    width: 60%;
    border-radius: 0 0 40px 40px;
    background: red;
    border: solid rgba(89, 87, 87, 0.825);
    border-width: 0px 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.counthours{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hours{
    width: 500px;
    height: 100%;
    margin: auto;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}